.searchBox {
  background-color: #fff;
  padding: 10px;
  margin: 15px;
  border: 2px solid gray;
  width: 300px;
  border-radius: 5px;
}

.cardData {
  box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.1);
  border-radius: 0px !important;
  margin-bottom: 10px;
}

.cardLink {
  text-decoration: none;
}